* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-y: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

img {
    width: 45.3%;
    opacity: 0;
}
